<h2>All Subreddits</h2>

<ol>
<% @subs.each do |sub_| %>
<li class="sub">
  <a href="<%= sub_url(sub_) %>"><h3> <%= sub_.title %></h3></a>
  <p><%= sub_.description %></p>
  <a class="edit-sub" href="<%= edit_sub_url(sub_) %>">Edit</a>


</li>
<% end %>

</ol>
